#thirdNav {
  margin: auto;
  width: 85%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#thirdNav .small_logo {
  width: 16%;
  height: 70px;
}

#thirdNav .small_logo img {
  margin-left: 0px;
  width: 60%;
  height: 100%;
  padding: 10px 10px;
}

.containera {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#thirdNav .right_third {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thirdNav .right_third .menu_two {
  margin: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
  font-size: 0.9em;
  font-weight: 600;
  color: #7e7979;
}

#thirdNav .right_third .menu_two li {
  margin: auto;
  font-family: "Montserrat", sans-serif !important;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.menu_two li:hover:not(:first-child) {
  color: #f1ea41;
  cursor: pointer;
  font-weight: bold;
}

.home {
  font-weight: bold;
  cursor: none;
}

.home:hover {
  cursor: pointer !important;
  /* color: #f1ea41 !important; */
}

.home .home_page:hover {
  color: #f1ea41 !important;
}

.shop {
  position: relative;
}

.dropdown_six {
  position: absolute;
  top: 60px;
  left: -100px;
  height: 350px;
  background-color: #fafafa;
  width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  z-index: 5;
  display: none;
}

.shop:hover .dropdown_six,
.shop:focus-within .dropdown_six,
.dropdown_four:hover {
  display: block;
}

.women {
  position: relative;
}

.dropdown_four {
  position: absolute;
  top: 60px;
  left: -100px;
  height: 350px;
  background-color: #fafafa;
  width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  z-index: 5;
  display: none;
}

.women:hover .dropdown_four,
.women:focus-within .dropdown_four,
.dropdown_four:hover {
  display: block;
}

.dropdown_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.dropdown_left ul {
  list-style-type: none;
  color: #7e7979;
  width: 98%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.9em;
}

.row_one,
.row_two,
.row_three,
.row_four,
.row_five,
.row_six,
.row_seven,
.row_eight,
.row_nine {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_left ul li {
  width: 55%;
  margin-right: 10px;
  height: 100%;
  text-align: left;
  padding-left: 5px;
  transition: transform 300ms;
  -webkit-transition: transform 300ms;
  -moz-transition: transform 300ms;
  -ms-transition: transform 300ms;
  -o-transition: transform 300ms;
}

.dropdown_left ul li:hover {
  color: #7e7979;
  font-weight: bolder;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.dropdown_left ul li a {
  width: 100%;
  text-decoration: none;
  color: #7e7979;
}

.women_dresses {
  width: 80%;
  height: 80%;
  background-image: url(../images/paint02.jpg);
  background-size: cover;
  background-position: center;
}

.women_pullovers {
  width: 80%;
  height: 80%;
  background-image: url(../images/decoration01.jpg);
  background-size: cover;
  background-position: center;
}

.women_shirts {
  width: 80%;
  height: 80%;
  background-image: url(../images/adh01.jpg);
  background-size: cover;
  background-position: center;
}

.women_tshirts {
  width: 80%;
  height: 80%;
  background-image: url(../images/row-materials01.jpg);
  background-size: cover;
  background-position: center;
}

.women_hoodies {
  width: 80%;
  height: 80%;
  background-image: url(../images/misc01.jpg);
  background-size: cover;
  background-position: center;
}

.men {
  position: relative;
}

.dropdown_five {
  position: absolute;
  top: 60px;
  left: 0px;
  height: 350px;
  background-color: #fafafa;
  width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  z-index: 5;
  display: none;
}

.men:hover .dropdown_five {
  display: block;
}

.dropdown_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.dropdown_left ul {
  list-style-type: none;
  color: #7e7979;
  width: 95%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.9em;
}

.row_one,
.row_two,
.row_three,
.row_four,
.row_five,
.row_six,
.row_seven,
.row_eight,
.row_nine {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_left ul li {
  width: 98%;
  height: auto;
  text-align: left;
}

.dropdown_five .dropdown_left .men_shirts {
  width: 80%;
  height: 80%;
  background-image: url(../images/quality-inspection-1536x1024.jpg);
  background-size: cover;
  /* background-position: center; */
}

.dropdown_six .dropdown_left .men_shirts {
  width: 80%;
  height: 80%;
  background-image: url(../images/who02.jpg);
  background-size: cover;
  background-position: center;
}

.dropdown_six .dropdown_left .history {
  width: 80%;
  height: 80%;
  background-image: url(../images/History-11.jpg);
  background-size: cover;
  /* background-position: center; */
}

.dropdown_five .dropdown_left .men_tshirts {
  width: 80%;
  height: 80%;
  background-image: url(../images/construction01.jpg);
  background-size: cover;
  background-position: center;
}

.dropdown_six .dropdown_left .men_tshirts {
  width: 80%;
  height: 80%;
  background-image: url(../images/references01.jpg);
  background-size: cover;
  background-position: center;
}

.dropdown_five .dropdown_left .men_hoodies {
  width: 80%;
  height: 80%;
  background-image: url(../images/tec-support01.jpg);
  background-size: cover;
  background-position: center;
}

.dropdown_six .dropdown_left .men_hoodies {
  width: 80%;
  height: 80%;
  background-image: url(../images/contact01.jpg);
  background-size: cover;
  background-position: center;
}

.men_sweatshirts {
  width: 80%;
  height: 80%;
  background-image: url(../images/maint01.jpg);
  background-size: cover;
  background-position: center;
}

.fa-caret-down {
  padding-left: 4px;
}

.english {
  text-decoration: none;
  outline-style: none;
  width: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right_third .english:hover {
  cursor: pointer;
}

.sales .news_page:hover {
  color: #f1ea41 !important;
}

/***************************************************************************************************************/
/*** Products Path *******************************************************************************************/
.product_path {
  margin: 10px 0px 5px 120px;
  width: 10%;
  height: 25px;
}

.ulProduct_path {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  font-size: 0.7em;
  color: #7e7979;
}

.ulProduct_path_space {
  justify-content: flex-start !important;
}

.under_line-padibg-right {
  padding-right: 20px;
}

.ulProduct_path li a {
  text-decoration: none;
  color: #3e3d53;
}

.under_line:hover {
  border-bottom: 1px solid #7e7979;
}

.arrow {
  color: #7e7979;
}

/***News Section********************************************************************************************/
.image_section {
  margin-top: 30px !important;
}

.imageNews_head,
.videoNews_head {
  margin-bottom: 0px;
  color: #3e3d53;
  font-weight: 700;
}

.imageNews_body {
  margin-top: 0px !important;
}

.news-card video {
  width: 100% !important;
  height: 200px !important;
  padding: 5%;
}

.col-md-4 {
  height: 190px !important;
}

.news-card img {
  width: 100% !important;
  height: 100% !important;
  padding: 5%;
}

.news-linkk {
  color: gold;
}

.news-linkk:hover {
  color: #3e3d53;
}

.video_section {
  margin-top: 30px !important;
}

.videoNews_body {
  margin-top: 0px !important;
}

.btn_three {
  /* margin: 0 50%; */
  background-image: linear-gradient(to left, #7e7979, #3e3d3d, #7e7979);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: none !important;
}

/********************************************************************************************************************/
/***News Details Page ***********************************************************************************************/
.newsDetails_section {
  margin-top: 30px;
}

.row>* {
  padding-left: 0px !important;
}

.news-margin-top {
  margin-top: 55px;
  margin-bottom: -26px;
}

.new-cusom-hight {
  height: 40px;
}